:root{
    --first-color:#011212;
    --second-color:#ff8800;
    --width-size:100px;
    --height-size:100px;
    --border-size:50px;



}






body {
    background-color:var(--first-color) ;
}

.ball {
    width: var(--width-size);
    height: var(--height-size);
    background-color:var(--second-color) ;
    border-radius: var(--border-size);
}

